@font-face {
    font-family: 'Proxima Nova';
    src: url(..//font/ProximaNovaExCn-Regular.ttf);
}
@font-face {
    font-family: 'El Messiri';
    src: url(..//font/ElMessiri-VariableFont_wght.ttf);
}