@media (max-width:1400px) {
    .container {
        max-width: 800px;
    }
    .services img {
        width: 300px;
    }
    .services p {
        font-size: 14px;
    }
    .session-content div p {
        font-size: 21px;
    }
    .back {
        background-position: right;
    }
    nav ul li {
        margin: 0 25px;
    }
}
@media (max-width:900px) {
    .container {
        max-width: 400px;
    }
    .box {
        max-width: 600px;
    }
    .welcome {
        font-size: 21px;
    }
    nav {
        display: none;
    }
    .services img {
        width: 100%;
        margin: 25px 0;
    }
    .footer iframe {
        height: 600px;
        width: 100%;
        margin: 25px 0;
       
    } 
    .footer div {
        margin: 0 auto;
    }
    .session-content {
        padding-bottom: 75px;
        grid-template-areas: "standard"
                            "pair"
                            "why"
                            "dive" 
                            "underwater";
                            grid-template-columns: 1fr;
    }
    
    .session-content div {
        height: 300px;
    }
}